.space{
	padding-bottom: 20px;
}

.bayar {
	font-weight:bold;
	font-size:20px;
	margin: -2px;
}

.bayar_combo {
	font-weight:bold;
	font-size:14px;
	margin: -2px;
}

.input-sm{
	height:27px;
}

.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th {
    padding: 3px;
}

.form-control{
	color:#000;
}

.free{
	font-style: italic;
	color:red;
}